@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@498&family=Exo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@import "tailwindcss";


@theme {
  --font-mono:"Mona Sans";
  --font-poppins:"Poppins";
  --color-textEditor-500:#1f1f21;
  --color-editorButton:#333336
}


*{
  
  box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.editor-content p {
  @apply mb-3 text-sm md:text-base p-1;
}

/* Headings */
.editor-content h1 {
  @apply text-3xl font-bold mb-4;
}

.editor-content h2 {
  @apply text-2xl font-semibold mb-3;
}
.editor-content h3 {
  @apply text-xl font-semibold mb-2;
}
.editor-content h4 {
  @apply text-lg font-medium mb-2;
}

/* Lists */
.editor-content ul {
  @apply list-disc pl-6 mb-3;
}
.editor-content ol {
  @apply list-decimal pl-6 mb-3;
}
.editor-content li {
  @apply mb-1;
}

/* Blockquote */
.editor-content blockquote {
  @apply border-l-4 border-gray-400 pl-4 italic mb-3 ;
}

/* Bold & Italic */
.editor-content strong {
  @apply font-bold;
}

.editor-content em {
  @apply italic;
}

/* Code */
.editor-content code {
  @apply px-1 py-0.5 rounded text-sm font-mono text-red-300;
}

/* Horizontal Rule */
.editor-content hr {
  @apply border-t border-gray-300 my-6;
}

/* Images */
.editor-content img {
  @apply max-w-full h-auto rounded-md;
}

/* Links */
.editor-content a {
  @apply text-blue-600 underline hover:text-blue-800;
}

/* Pre blocks (for code blocks) */
.editor-content pre {
  @apply bg-gray-800 text-white p-4 rounded-md overflow-x-auto mb-4 text-sm;
}

.editor-content button {
  @apply border-[2px] border-editorButton m-1 text-base px-2 rounded-md py-2 cursor-pointer
}

.tiptap.ProseMirror{
  @apply border-[2px] border-editorButton rounded-lg p-3 min-h-72 max-h-[550px] overflow-y-scroll scroll-smooth focus:outline-none selection:text-black selection:bg-gray-300 font-mono
}
